{% extends "base.html" %}
{% load fncs_tags %}

{% block content %}
    <div class="content">

        <div class="breadcrumb">
            <a href="{% url fncs:home %}">Home</a> &gt;
            <a href="{% url fncs:market_prices %}">Market Prices</a> &gt; 
            <a href="{% url fncs:market_offers %}">Opening Prices</a> &gt; 
            <a href="{% url fncs:market_offer market_pk=market.pk %}">{{market}}</a> &gt; 
            {{crop}}
        </div>

        <div class="list">
            {% for unit in page.object_list %}
            <div class="item">
                <span class="heading"><a href="{% url fncs:offer_unit unit_pk=unit.pk,crop_pk=crop.pk,market_pk=market.pk %}">{{crop}} in {{unit}}</a></span><br/>
                <span class="subtitle">Average Opening price {% average_opening_price market crop unit %} ZMK.</span><br/>
                <img src="{% opening_price_sparkline market crop unit %}"><br/>
            </div>
            {% empty %}
            <div class="item">
                <span class="text">No sales recorded yet</span><br/>
            </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>

        {% include "includes/search.html" %}

        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
    
{% endblock %}