{% extends "base.html" %}
{% load fncs_tags %}

{% block content %}
    <div class="content">

        <div class="breadcrumb">
            <a href="{% url fncs:home %}">Home</a> &gt;
            <a href="{% url fncs:market_prices %}">Market Prices</a> &gt; 
            <a href="{% url fncs:market_offers %}">Opening Prices</a> &gt; 
            <a href="{% url fncs:market_offer market_pk=market.pk %}">{{market}}</a> &gt; 
            <a href="{% url fncs:offer market_pk=market.pk,crop_pk=crop.pk %}">{{crop}}</a> &gt; 
            {{unit|title}}
        </div>

        <div class="list">
            {% for offer in page.object_list %}
            <div class="item">
                <span class="heading">{{offer.unit|title}} of {{offer.crop|title}}</span><br/>
                <span class="text">Between {{offer.price_floor|floatformat:2}} and {{offer.price_ceiling|floatformat:2}} ZMK</span><br/>
                <span class="subtitle">{{offer.created_at|date:"j b Y, g:iA"|upper}}</span>
            </div>
            {% empty %}
            <div class="item">
                <span class="text">No opening prices recorded yet</span><br/>
            </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>

        {% include "includes/search.html" %}

        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
    
{% endblock %}