{% extends "base.html" %}

{% block content %}
    <div class="content">

        <div class="breadcrumb">
            <a href="{% url fncs:home %}">Home</a> &gt;
            View Markets
        </div>

        <div class="list">
            {% for market in page.object_list %}
            <div class="item">
                <span class="heading">{{market}}</span><br/>
                <span class="text">{{market.district}}</span><br/>
                <span class="subtitle">No of Farmers = {{ market.farmer_set.all.count }}</span> &
                <span class="subtitle">No of Crops = {{ market.crops|length }}</span>
            </div>
            {% empty %}
            <div class="item">
                <span class="text">No sales recorded yet</span><br/>
            </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>

        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->

{% endblock %}
