global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    user ubuntu
    group ubuntu
    stats socket ./tmp/haproxy.sock

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend magri-http-in
    bind *:8030
    default_backend magri-backend

backend magri-backend
    server magri_backend1 127.0.0.1:8031 weight 1 check maxconn 500
    server magri_backend2 127.0.0.1:8032 weight 1 check maxconn 500
    server magri_backend3 127.0.0.1:8033 weight 1 check maxconn 500
    server magri_backend4 127.0.0.1:8034 weight 1 check maxconn 500
