{% extends "base.html" %}

{% block content %}
    <div class="h2">Sign In</div>
    <form class="signin" method="post">
        {% if form.errors %}
            <div class="error">Sign in failed.<br />Please try again.</div>
        {% endif %}

        <label for="form-cell">Cell number</label>
        <input type="tel" name="username" value="{{form.username.value|default_if_none:""}}" id="username"><br>
        {# {{form.username}}<br> #}

        <label for="form-pin">Pin</label>
        <input type="tel" name="password" value="" id="password">
        {# {{form.password}} #}

        <input type="submit" class="submit" value="Sign In &raquo;" name="submit" />
        <input type="hidden" name="next" value="{{next}}">
        {% csrf_token %}

        <p><a href="{% url fncs:todo %}forgot/">Forgotton your Pin?</a></p>
    </form>
{% endblock %}