{% extends "base.html" %}

{% block content %}
{% include "includes/messages.html" %}
<div class="content">

    <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; <a href="{% url fncs:farmers %}">Farmers</a></div>
    
    <div class="h2">Set Farmer's Location</div>
    
    <form class="standard" method="post" action="{% url fncs:farmer_location_search farmer_pk=farmer.pk %}">
        {% if form.errors %}
            <div class="error">Please see error below.</div>
        {% endif %}
        {{search_form}}
        <input type="submit" name="submit" class="submit" value="Search &raquo;" />
        {% csrf_token %}
    </form>
    {% if location_form %}
    <form class="standard" method="post" action="{% url fncs:farmer_location_save farmer_pk=farmer.pk %}">
        {% if form.errors %}
            <div class="error">Please see error below.</div>
        {% endif %}
        {{location_form}}
        <input type="submit" name="submit" class="submit" value="Save location &raquo;" />
        {% csrf_token %}
    </form>
    {% endif %}

    <div class="h2">Menu</div>
    {% include "includes/menu.html" %}
</div> <!-- /.content -->{% endblock %}
