{% extends "base.html" %}

{% block content %}
    <div class="content">

        <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; <a href="{% url fncs:farmers %}">Farmers</a> &gt; {{farmer.actor.name}}</div>
        
        <div class="meta">
            {% include "includes/farmer_header.html" %}
        </div> <!-- /.meta -->
        
        {% include "includes/farmer_menu.html" %}

        <div class="tabs">
            <a href="{% url fncs:farmer_sales farmer_pk=farmer.pk %}">Sales</a> | 
            <a href="{% url fncs:farmer_messages farmer_pk=farmer.pk %}">Messages</a> |
            Notes 
        </div>

        <div class="list">
            {% for note in page.object_list %}
            <div class="item">
                <span class="text">{{note.content}}</span> <a href="{% url fncs:todo %}" class="del">[x]</a><br/>
                <span class="subtitle">{{note.created_at|date:"j b Y, g:iA"|upper}}</span>
            </div>
            {% empty %}
            <div class="item">
                <span class="text">You don't have any notes on {{farmer.actor.name}}</span>
            </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>
        
        {% include "includes/search.html" %}
    
        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
    
{% endblock %}