{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; <a href="{% url fncs:farmers %}">Farmers</a> &gt; {{farmer.actor.name}}</div>
    <div class="meta">
        {% include "includes/messages.html" %}
        <div class="h2">{{farmer.actor.name}} <span>{{farmer.districts.all|join:", "}}</span></div>
        <span class="subtitle">{{farmer.crops.all|join:", "}}</span>
    </div> <!-- /.meta -->
    
    <div class="menu">
        <div class="item"><a href="{% url fncs:farmer_new_sale farmer_pk=farmer.pk %}"><img src="{{ STATIC_URL }}images/icon-calendar.gif" alt="icon-calendar" width="16" height="16" />Register new Sale &raquo;</a></div>
        <div class="item"><a href="{% url fncs:todo %}/message-farmer.php"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="icon-message" width="16" height="16" />Message Farmer &raquo;</a></div>
        <div class="item"><a href="{% url fncs:todo %}/add-note.php"><img src="{{ STATIC_URL }}images/icon-write.gif" alt="icon-write" width="16" height="16" />Add Note &raquo;</a></div>
        <div class="item"><a href="{% url fncs:todo %}/farmer-profile.php"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" />View Profile &raquo;</a></div>
    </div>

    <div class="tabs">
        Sales | 
        <a href="{% url fncs:todo %}/farmer-detail-messages.php">Messages</a> | 
        <a href="{% url fncs:todo %}/farmer-detail-notes.php">Notes</a>
    </div>

    <div class="list">
        {% for transaction in page.object_list %}
        <div class="item">
            <span class="text"><a href="{% url fncs:farmer_sale farmer_pk=farmer.pk,sale_pk=transaction.pk %}">{{transaction}}</a></span><br/>
            <span class="subtitle">{{transaction.created_at|date:"j b Y, g:iA"|upper}}</span>
        </div class="item">
        {% endfor %}
        {% include "includes/pagination.html" %}
    </div class="item">
    
    {% include "includes/search.html" %}

	<div class="h2">Menu</div>
    {% include "includes/menu.html" %}
</div> <!-- /.content -->
{% endblock %}
