<div class="menu">
    <div class="item"><a href="{% url fncs:inventory_sale_details %}?farmer={{farmer.pk}}"><img src="{{ STATIC_URL }}images/icon-calendar.gif" alt="icon-calendar" width="16" height="16" />Register new Sale &raquo;</a></div>
    <div class="item"><a href="{% url fncs:inventory_intake %}"><img src="{{ STATIC_URL }}images/icon-calendar.gif" alt="icon-calendar" width="16" height="16" />Crop Intake &raquo;</a></div>
    <div class="item"><a href="{% url fncs:farmer_new_message farmer_pk=farmer.pk %}"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="icon-message" width="16" height="16" />Message Farmer &raquo;</a></div>
    <div class="item"><a href="{% url fncs:farmer_new_note farmer_pk=farmer.pk %}"><img src="{{ STATIC_URL }}images/icon-write.gif" alt="icon-write" width="16" height="16" />Add Note &raquo;</a></div>
    <div class="item"><a href="{% url fncs:farmer_profile farmer_pk=farmer.pk %}"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" />View Profile &raquo;</a></div>
</div>
