<ul class="menu">
    <li><a href="{% url fncs:todo %}farmers/"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" /> Farmers &raquo;</a></li>
    <li><a href="{% url fncs:todo %}messages/"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="Messages" width="16" height="16" />Messages &raquo;</a></li>
    <li><a href="{% url fncs:todo %}sales/"><img src="{{ STATIC_URL }}images/icon-sale.gif" alt="Sales" width="16" height="16" />Sales &raquo;</a></li>
</ul>
