<div class="menu">
    <div class="item"><a href="{% url fncs:farmers %}"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" /> Farmers &raquo;</a></div>
    <div class="item"><a href="{% url fncs:messages %}"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="Messages" width="16" height="16" />Messages &raquo;</a></div>
    <div class="item"><a href="{% url fncs:sales %}"><img src="{{ STATIC_URL }}images/icon-sale.gif" alt="Sales" width="16" height="16" />Sales &raquo;</a></div>
    <div class="item"><a href="{% url fncs:markets %}"><img src="{{ STATIC_URL }}images/icon-agent-history.gif" alt="Markets" width="16" height="16" />Markets &raquo;</a></div>
</div>
