<div class="menu">
    {% if user.is_superuser or user.actor.is_agent %}
    <div class="item"><a href="{% url fncs:inventory_sale %}"><img src="{{ STATIC_URL }}images/icon-sale.gif" alt="Crop Sale" width="16" height="16" /> Register Sale &raquo;</a></div>
    {% endif %}
    {% if user.is_superuser or user.actor.is_agent %}
    <div class="item"><a href="{% url fncs:inventory_intake %}"><img src="{{ STATIC_URL }}images/icon-write.gif" alt="Stock" width="16" height="16" /> Crop Intake &raquo;</a></div>
    {% endif %}

    <div class="item"><a href="{% url fncs:farmer_new %}"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" /> Add Farmer &raquo;</a></div>

    {% if user.actor.is_extensionofficer %}
        <div class="item"><a href="{% url fncs:market_new %}"><img src="{{ STATIC_URL }}images/icon-agent-history.gif" alt="Markets" width="16" height="16" />Add Market&raquo;</a></div>
    {% endif %}

    {% if user.is_superuser or user.actor.is_extensionofficer %}
	    <div class="item"><a href="{% url fncs:agents %}"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Add an Agent" width="16" height="16" />Add an Agent &raquo;</a></div>
	{% endif %}
    <div class="" style="background-color: #2E5333; height: 4px"></div>
    {% if user.is_superuser or user.actor.is_agent %}
    <div class="item"><a href="{% url fncs:inventory %}"><img src="{{ STATIC_URL }}images/icon-write.gif" alt="Stock" width="16" height="16" /> Stock &raquo;</a></div>
    {% endif %}
    <div class="item"><a href="{% url fncs:farmers %}"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" /> Farmers &raquo;</a></div>
    {% if user.is_superuser or user.actor.is_agent %}
    <div class="item"><a href="{% url fncs:messages %}"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="Messages" width="16" height="16" />Messages &raquo;</a></div>
    {% endif %}

    {% if user.actor.is_extensionofficer %}
        <div class="item"><a href="{% url fncs:market_view %}"><img src="{{ STATIC_URL }}images/icon-agent-history.gif" alt="Markets" width="16" height="16" />Markets &raquo;</a></div>
    {% endif %}

    <div class="item"><a href="{% url fncs:market_prices %}"><img src="{{ STATIC_URL }}images/icon-agent-history.gif" alt="Markets" width="16" height="16" />Market prices&raquo;</a></div>

    {% if not user.is_anonymous %}
        <div class="h2">
            <a href="{% url logout %}">Sign Out</a>
        </div>
    {% endif %}
</div>
