{% extends "base.html" %}

{% block content %}
    <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; Farmers</div>
    <ul class="menu">
        <li><a href="{% url fncs:todo %}create-farmer"><img src="{{ STATIC_URL }}images/icon-profile.gif" alt="Farmers" width="16" height="16" />+ Add new Farmer &raquo;</a></li>
    </ul>
    
    <div class="content">
        <ul class="list">
            {% for farmer in page.object_list %}
                <li>
                    <a href="{% url fncs:farmer pk=farmer.pk %}">{{farmer.actor.name}}</a> 
                    <span class="area">{{farmer.districts.all|join:", "}}</span><br />
                    <span class="subtitle">{{farmer.crops.all|join:", "}}</span>
                </li>
            {% endfor %}
            {% if page.has_other_pages %}
                <li class="pagination">
                    {% if page.has_previous %}
                        <a href="?p={{page.previous_page_number}}">&laquo; Prev</a>
                    {% endif %}
                    
                    {% if page.has_previous and page.has_next %}
                        |
                    {% endif %}
                    
                    {% if page.has_next %}
                        <a href="?p={{page.next_page_number}}">Next &raquo;</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        
        {% include "includes/search.html" %}
    
        <h2>Menu</h2>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
{% endblock %}