{% extends "base.html" %}

{% block content %}

    <div class="content">

        <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; <a href="{% url fncs:farmers %}">Messages</a> &gt; New Message</div>
        
        <div class="h2">Choose Recipients</div>
        
        <form class="standard" action="" method="post">
            <div class="list overflow">
                {% for group in farmergroups %}
                    <div class="item">
                        <input type="checkbox" name="fg" value="{{group.pk}}" id="form-group-{{group.pk}}" />
                        <label for="form-group-{{group.pk}}">{{group|title}}</label> 
                    </div>
                {% endfor %}
            </div>
            
            <input type="submit" name="submit" class="submit" value="Next &raquo;" />
            <input type="submit" name="cancel" class="submit" value="cancel" />
            {% csrf_token %}
        </form>        
        
        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->

{% endblock %}