{% extends "base.html" %}

{% block content %}
<div class="content">

    <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; Crop Inventory</div>
    <div class="menu">
        <div class="item"><a href="{% url fncs:inventory_intake %}"><img src="{{ STATIC_URL }}images/icon-write.gif" alt="Inventory Intake" width="16" height="16" />+ Add to Inventory &raquo;</a></div>
    </div>

    <div class="list">
        {% include "includes/messages.html" %}
        {% for crop_receipt in page.object_list %}
            <div class="item">
                <span class="heading">{{crop_receipt}}</span><br/>
                <span class="text"><a href="{% url fncs:farmer farmer_pk=crop_receipt.farmer.pk %}">{{crop_receipt.farmer}}</a></span><br/>
                <span class="subtitle">{{crop_receipt.created_at|date:"j b Y, g:iA"|upper}}</span>
            </div>
        {% empty %}
            <div class="item">
                <span class="text">You don't have any inventory yet</span><br/>
            </div>
        {% endfor %}
        {% include "includes/pagination.html" %}
    </div>
    <div class="h2">Menu</div>
    {% include "includes/menu.html" %}
</div> <!-- /.content -->{% endblock %}