{% extends "base.html" %}

{% block content %}
<div class="content">

    <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; Messages</div>
    
    <div class="menu">
        <div class="item"><a href="{% url fncs:group_message_new %}"><img src="{{ STATIC_URL }}images/icon-message.gif" alt="icon-message" width="16" height="16" />Send a new message &raquo;</a></div>
    </div>

    <div class="list">
        <div class="item">
            <span class="heading">Recipient Group</span><br/>
            <span class="text">Message text to Farmer goes here</span><br/>
            <span class="subtitle">25 AUG 2011, 10:45PM</span>
        </div>
        <div class="item">
            <span class="heading">Recipient Group</span><br/>
            <span class="text">Message text to Farmer goes here</span><br/>
            <span class="subtitle">25 AUG 2011, 10:45PM</span>
        </div>
        <div class="item">
            <span class="heading">Recipient Group</span><br/>
            <span class="text">Message text to Farmer goes here</span><br/>
            <span class="subtitle">25 AUG 2011, 10:45PM</span>
        </div>
        <div class="item">
            <span class="heading">Recipient Group</span><br/>
            <span class="text">Message text to Farmer goes here</span><br/>
            <span class="subtitle">25 AUG 2011, 10:45PM</span>
        </div>
        <div class="pagination"><a href="{% url fncs:todo %}">&laquo; Prev</a> | <a href="{% url fncs:todo %}">Next &raquo;</a></div>
    </div>
    
    {% include "includes/search.html" %}

    <div class="h2">Menu</div>
    {% include "includes/menu.html" %}
</div> <!-- /.content -->
{% endblock %}