{% extends "base.html" %}

{% block content %}
<div class="content">

	<div class="breadcrumb"><a href="/home.php">Home</a> &gt; Sales</div>
	
	<div class="menu">
		<div class="item"><a href="{% url fncs:sales_crops %}"><img src="images/icon-crop-history.gif" alt="Crop sale history" width="16" height="16" />Crop sale history &raquo;</a></div>
		<div class="item"><a href="{% url fncs:sales_agents %}"><img src="images/icon-agent-history.gif" alt="Agent sale history" width="16" height="16" />Agent sale history &raquo;</a></div>
	</div>
</div> <!-- /.content -->
<div class="content">
	<div class="h2">Menu</div>
	<?php include_once('menu.php'); ?>		
</div> <!-- /.content -->
{% endblock %}