{% extends "base.html" %}

{% block content %}
    <div class="content">

        <div class="breadcrumb"><a href="{% url fncs:home %}">Home</a> &gt; Crop Sales</div>

        <div class="list">
            <div class="item">
                <span class="heading">Recipient Group</span><br/>
                <span class="text">55 boxes of Tomatoes</span><br/>
                <span class="subtitle">25 AUG 2011, 10:45PM</span>
            </div>
            <div class="item">
                <span class="heading">Recipient Group</span><br/>
                <span class="text">55 boxes of Tomatoes</span><br/>
                <span class="subtitle">25 AUG 2011, 10:45PM</span>
            </div>
            <div class="item">
                <span class="heading">Recipient Group</span><br/>
                <span class="text">55 boxes of Tomatoes</span><br/>
                <span class="subtitle">25 AUG 2011, 10:45PM</span>
            </div>
            <div class="item">
                <span class="heading">Recipient Group</span><br/>
                <span class="text">55 boxes of Tomatoes</span><br/>
                <span class="subtitle">25 AUG 2011, 10:45PM</span>
            </div>
            <div class="pagination"><a href="">&laquo; Prev</a> | <a href="">Next &raquo;</a></div>
        </div>

        {% include "includes/search.html" %}

        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
    
{% endblock %}