{% extends "base.html" %}
{% load fncs_tags %}

{% block content %}
    <div class="content">

        <div class="breadcrumb">
            <a href="{% url fncs:home %}">Home</a> &gt;
            <a href="{% url fncs:market_prices %}">Market Prices</a> &gt; 
            <a href="{% url fncs:market_sales %}">Crop Sales</a> &gt; 
            <a href="{% url fncs:market_sale market_pk=market.pk %}">{{market}}</a> &gt; 
            <a href="{% url fncs:crop market_pk=market.pk,crop_pk=crop.pk %}">{{crop}}</a> &gt; 
            {{unit|title}}
        </div>

        <div class="list">
            {% for transaction in page.object_list %}
            <div class="item">
                <span class="heading">{{transaction.crop_receipt.farmer.actor.name}}</span><br/>
                <span class="text">{{transaction}} at ZMK {{transaction.price|floatformat:2}} each, ZMK {{transaction.total|floatformat:2}} total</span><br/>
                <span class="subtitle">{{transaction.created_at|date:"j b Y, g:iA"|upper}}</span>
            </div>
            {% empty %}
            <div class="item">
                <span class="text">No sales recorded yet</span><br/>
            </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>

        {% include "includes/search.html" %}

        <div class="h2">Menu</div>
        {% include "includes/menu.html" %}
    </div> <!-- /.content -->
    
{% endblock %}